## Importing the libraries:

In [1]:
import pandas as pd
from typing import Union, List, Dict
import numpy as np
import openpyxl
import os
import re
import xlsxwriter

## Importing the datasets:

In [2]:
# Importing dataset of balance and P&L function:
# Execution might take 10 minutes or more due to the large size of the datasets.

balance2025 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2025.xlsx')
balance2024 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2024.xlsx')
balance2023 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2023.xlsx')
balance2022 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2022.xlsx')
balance2021 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2021.xlsx')
balance2020 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2020.xlsx')

pnl2025 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2025.xlsx')
pnl2024 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2024.xlsx')
pnl2023 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2023.xlsx')
pnl2022 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2022.xlsx')
pnl2021 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2021.xlsx')
pnl2020 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2020.xlsx')

### Fallbacks for large dfs:

In [33]:

# Fallbacks for large dfs:
B2025 = balance2025.copy()
B2024 = balance2024.copy()
B2023 = balance2023.copy()
B2022 = balance2022.copy()
B2021 = balance2021.copy()
B2020 = balance2020.copy()

P2025 = pnl2025.copy()
P2024 = pnl2024.copy()
P2023 = pnl2023.copy()
P2022 = pnl2022.copy()
P2021 = pnl2021.copy()
P2020 = pnl2020.copy()

# Saving in lists for functions:
balance_list = [B2025, B2024, B2023, B2022, B2021, B2020]
pnl_list = [P2025, P2024, P2023, P2022, P2021, P2020]

## Cleaning the data with functions:
#### Removing unnecessary columns:

In [34]:
# Unnecessary column removal from list of dataframes:
def remove_mutual_unnecessary_columns(df_list):
    for df in df_list:
        remove_columns = ['ja_pavadinimas', 'obj_pav','form_pav','template_name',  'standard_name', 'form_pavadinimas','line_type_id', 'stat_pavadinimas', 'stat_pav']
        for col in remove_columns:
            if col in df.columns:
                df.drop(columns=col, inplace=True)
    return df_list

# Removing unnecessary rows from list of dataframes:
remove_mutual_unnecessary_columns(balance_list)
remove_mutual_unnecessary_columns(pnl_list)

# Renaming collumns to be the same across dataframes:
def rename_columns(df_list):
    for df in df_list:
        # Rename 'obj_kodas' to 'ja_kodas' if it exists
        if 'obj_kodas' in df.columns:
            df.rename(columns={'obj_kodas': 'ja_kodas'}, inplace=True)

        # Rename other columns if they exist
        column_mapping = {
            'nuosavas_kapitalas': 'NUOSAVAS KAPITALAS',
            'mok_sumos_ir_isipareigojimai': 'MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI',
            'trumpalaikis_turtas': 'TRUMPALAIKIS TURTAS',
            'ilgalaikis_turtas': 'ILGALAIKIS TURTAS',
            'pelnas_pries_apmokestinima': 'PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ',
        'grynasis_pelnas': 'GRYNASIS PELNAS (NUOSTOLIAI)',
        'pardavimo_pajamos': 'PARDAVIMO PAJAMOS'
        }

        for old_col, new_col in column_mapping.items():
            if old_col in df.columns:
                df.rename(columns={old_col: new_col}, inplace=True)

    return df_list

rename_columns(balance_list)
rename_columns(pnl_list)

[         ja_kodas  form_kodas  stat_kodas template_id standard_id  \
 0       110003978         310           0      FS0329      IST024
 1       110003978         310           0      FS0329      IST024
 2       110003978         310           0      FS0329      IST024
 3       110004884         310           0      FS0718      IST209
 4       110004884         310           0      FS0718      IST209
 ...           ...         ...         ...         ...         ...
 423454  307123738         310           0      FS0329      IST024
 423455  307193537         960           0      FS0522      IST024
 423456  307193537         960           0      FS0522      IST024
 423457  307438075         960           0      FS0522      IST118
 423458  307438075         960           0      FS0522      IST118

                                       line_name  reiksme beginning_date  \
 0                             PARDAVIMO PAJAMOS    97545     2024-01-01
 1                  GRYNASIS PELNAS (NUOSTOLIAI)  2397510     2024-01-01
 2       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  2755467     2024-01-01
 3         ATASKAITINIŲ METŲ PELNAS (NUOSTOLIAI)   511543     2024-01-01
 4       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ   511543     2024-01-01
 ...                                         ...      ...            ...
 423454  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ        0     2025-03-17
 423455             GRYNASIS PELNAS (NUOSTOLIAI)        0     2025-06-06
 423456  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ        0     2025-06-06
 423457             GRYNASIS PELNAS (NUOSTOLIAI)        0     2025-09-18
 423458  PELNAS (NUOSTOLIAI) PRIEš APMOKESTINIMą        0     2025-09-18

        turning_date    reg_date formavimo_data
 0        2024-12-31  2025-05-28     2025-11-03
 1        2024-12-31  2025-05-28     2025-11-03
 2        2024-12-31  2025-05-28     2025-11-03
 3        2024-12-31  2025-05-28     2025-11-03
 4        2024-12-31  2025-05-28     2025-11-03
 ...             ...         ...            ...
 423454   2025-06-30  2025-10-31     2025-11-03
 423455   2025-07-22  2025-07-22     2025-11-03
 423456   2025-07-22  2025-07-22     2025-11-03
 423457   2025-10-22  2025-10-24     2025-11-03
 423458   2025-10-22  2025-10-24     2025-11-03

 [423459 rows x 11 columns],
          ja_kodas  form_kodas  stat_kodas template_id standard_id  \
 0       110003978         310           0      FS0229      IST024
 1       110003978         310           0      FS0229      IST024
 2       110003978         310           0      FS0229      IST024
 3       110004884         310           0      FS0618      IST209
 4       110004884         310           0      FS0618      IST209
 ...           ...         ...         ...         ...         ...
 406750  306748060         960           7      FS0522      IST118
 406751  306748060         960           7      FS0522      IST118
 406752  306748060         960           7      FS0522      IST118
 406753  306815114         310           0      FS0229      IST024
 406754  306815114         310           0      FS0229      IST024

                                       line_name  reiksme beginning_date  \
 0       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ   -17980     2023-01-01
 1                  GRYNASIS PELNAS (NUOSTOLIAI)   -20409     2023-01-01
 2                             PARDAVIMO PAJAMOS    74824     2023-01-01
 3                             PARDAVIMO PAJAMOS  9701655     2023-01-01
 4       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  2151794     2023-01-01
 ...                                         ...      ...            ...
 406750                        PARDAVIMO PAJAMOS       72     2024-05-08
 406751             GRYNASIS PELNAS (NUOSTOLIAI)     -198     2024-05-08
 406752  PELNAS (NUOSTOLIAI) PRIEš APMOKESTINIMą     -198     2024-05-08
 406753  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ    -2071     2024-06-03
 406754             GRYNASIS PELNAS (NUOSTOLIAI)    -2071     2024-06-03

        turning_date    reg_date formavimo_data
 0        2023-12-31  2024-05-23     2025-04-21
 1        2023-12-31  2024-05-23     2025-04-21
 2        2023-12-31  2024-05-23     2025-04-21
 3        2023-12-31  2024-06-03     2025-04-21
 4        2023-12-31  2024-06-03     2025-04-21
 ...             ...         ...            ...
 406750   2024-12-11  2024-12-19     2025-04-21
 406751   2024-12-11  2024-12-19     2025-04-21
 406752   2024-12-11  2024-12-19     2025-04-21
 406753   2024-06-30  2024-11-29     2025-04-21
 406754   2024-06-30  2024-11-29     2025-04-21

 [406755 rows x 11 columns],
          ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0       110003978         310              2      FS0229      IST024
 1       110004884         310              0      FS0618      IST209
 2       110005648         310              0      FS0229      IST024
 3       110006892         310              0      FS0229      IST024
 4       110008377         310              0      FS0229      IST024
 ...           ...         ...            ...         ...         ...
 141939  306370963         310              0      FS0422      IST118
 141940  306372583         960             10      FS0422      IST118
 141941  306384240         310              0      FS0229      IST024
 141942  306453633         960              0      FS0422      IST118
 141943  306600492         960              0      FS0422      IST118

        laikotarpis_nuo laikotarpis_iki    reg_date  \
 0           2022-01-01      2022-12-31  2023-05-24
 1           2022-01-01      2022-12-31  2023-06-30
 2           2022-01-01      2022-12-31  2023-05-15
 3           2022-01-01      2022-12-31  2023-06-16
 4           2022-01-01      2022-12-31  2023-05-23
 ...                ...             ...         ...
 141939      2023-08-01      2023-11-30  2023-12-20
 141940      2023-08-02      2023-11-06  2023-11-09
 141941      2023-08-21      2023-09-14  2023-09-21
 141942      2023-09-26      2023-12-31  2023-12-31
 141943      2023-10-24      2023-12-28  2023-12-28

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                       15420.0                       13104.0
 1                                     -824210.0                           NaN
 2                                       14067.0                       11944.0
 3                                       14149.0                       13441.0
 4                                      159064.0                      135027.0
 ...                                         ...                           ...
 141939                                  12142.0                       12142.0
 141940                                      0.0                           0.0
 141941                                      0.0                           0.0
 141942                                      0.0                           0.0
 141943                                      0.0                           0.0

         PARDAVIMO PAJAMOS formavimo_data
 0                 65196.0     2024-10-03
 1               8359577.0     2024-10-03
 2               1010501.0     2024-10-03
 3                167873.0     2024-10-03
 4                537185.0     2024-10-03
 ...                   ...            ...
 141939            59125.0     2024-10-03
 141940                NaN     2024-10-03
 141941                NaN     2024-10-03
 141942                0.0     2024-10-03
 141943                NaN     2024-10-03

 [141944 rows x 12 columns],
          ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0       301011561         310              0      FS0129      IST024
 1       303641352         310              0      FS0129      IST024
 2       301684796         310              0      FS0128      IST023
 3       302502531         310              0      FS0129      IST024
 4       304590697         310              0      FS0129      IST024
 ...           ...         ...            ...         ...         ...
 123685  305189141         310              0      FS0129      IST024
 123686  304922605         960              0      FS0322      IST118
 123687  125935881         310              0      FS0129      IST024
 123688  300629576         310              0      FS0129      IST024
 123689  301507365         310              0      FS0129      IST024

        laikotarpis_nuo laikotarpis_iki    reg_date  \
 0           2021-01-01      2021-12-31  2022-01-02
 1           2021-01-01      2021-12-31  2022-05-27
 2           2021-01-01      2021-12-31  2022-06-29
 3           2021-01-01      2021-12-31  2022-05-30
 4           2021-01-01      2021-12-31  2022-04-21
 ...                ...             ...         ...
 123685      2019-06-14      2019-12-31  2022-11-17
 123686      2021-01-01      2021-12-31  2022-02-25
 123687      2018-01-01      2018-12-31  2022-12-12
 123688      2021-01-01      2021-12-31  2022-06-23
 123689      2021-01-01      2021-12-31  2022-05-10

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                         -91.0                         -91.0
 1                                           0.0                           0.0
 2                                           NaN                           0.0
 3                                       20107.0                       18647.0
 4                                       78141.0                       74162.0
 ...                                         ...                           ...
 123685                                      0.0                           0.0
 123686                                    461.0                         435.0
 123687                                      0.0                           0.0
 123688                                  79761.0                       67797.0
 123689                                  75692.0                       63564.0

         PARDAVIMO PAJAMOS formavimo_data
 0                     NaN     2023-03-01
 1                     NaN     2023-03-01
 2                     0.0     2023-03-01
 3               2163507.0     2023-03-01
 4                242465.0     2023-03-01
 ...                   ...            ...
 123685                NaN     2023-03-01
 123686            44632.0     2023-03-01
 123687                NaN     2023-03-01
 123688          1733418.0     2023-03-01
 123689          4485193.0     2023-03-01

 [123690 rows x 12 columns],
          ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0       305390322         310              0      FS0128      IST023
 1       305213076         310              0      FS0128      IST023
 2       304088367         960              0      FS0322      IST118
 3       300094102         310              0      FS0129      IST024
 4       303219212         960              0      FS0322      IST118
 ...           ...         ...            ...         ...         ...
 110220  302686921         310              1      FS0128      IST023
 110221  303289125         310              7      FS0128      IST023
 110222  305333912         310              0      FS0129      IST024
 110223  304150413         310              0      FS0129      IST024
 110224  303226623         630              0      FS0323      IST117

        laikotarpis_nuo laikotarpis_iki    reg_date  \
 0           2019-12-11      2019-12-31  2021-05-27
 1           2019-07-18      2019-12-31  2021-09-08
 2           2020-01-01      2020-12-31  2021-03-31
 3           2020-01-01      2020-12-31  2021-06-10
 4           2020-01-01      2020-12-31  2021-07-12
 ...                ...             ...         ...
 110220      2020-01-01      2020-12-31  2021-05-26
 110221      2020-01-01      2020-12-31  2021-03-30
 110222      2020-01-01      2020-12-31  2021-07-11
 110223      2020-01-01      2020-12-31  2021-05-31
 110224      2020-01-01      2020-12-31  2021-05-25

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                           NaN                           0.0
 1                                           NaN                       -8042.0
 2                                       20624.0                       19562.0
 3                                       72425.0                       70062.0
 4                                           0.0                           0.0
 ...                                         ...                           ...
 110220                                      NaN                      -61659.0
 110221                                      NaN                           0.0
 110222                                  20903.0                       19881.0
 110223                                 -10215.0                      -10215.0
 110224                                      NaN                           NaN

         PARDAVIMO PAJAMOS formavimo_data
 0                     NaN     2023-03-01
 1                     NaN     2023-03-01
 2                 43780.0     2023-03-01
 3                155482.0     2023-03-01
 4                     NaN     2023-03-01
 ...                   ...            ...
 110220           584174.0     2023-03-01
 110221                0.0     2023-03-01
 110222           142964.0     2023-03-01
 110223            97068.0     2023-03-01
 110224              376.0     2023-03-01

 [110225 rows x 12 columns],
         ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0      304406916         310              0      FS0129      IST024
 1      304064380         310              0      FS0128      IST023
 2      305186985         960              0      FS0322      IST118
 3      302915341         310              0      FS0129      IST024
 4      300846448         310              0      FS0129      IST024
 ...          ...         ...            ...         ...         ...
 96610  302797423         310              0      FS0128      IST023
 96611  133553116         310              0      FS0128      IST023
 96612  304074296         310              0      FS0128      IST023
 96613  303199069         310              0      FS0129      IST024
 96614  302478692         310              0      FS0128      IST023

       laikotarpis_nuo laikotarpis_iki    reg_date  \
 0          2019-01-01      2019-12-31  2020-04-30
 1          2018-01-01      2018-12-31  2020-06-14
 2          2019-06-10      2019-12-31  2020-06-10
 3          2019-01-01      2019-12-31  2020-10-01
 4          2018-01-01      2018-12-31  2020-12-29
 ...               ...             ...         ...
 96610      2018-01-01      2018-12-31  2020-05-04
 96611      2017-01-01      2017-12-31  2020-02-20
 96612      2019-01-01      2019-12-31  2020-05-14
 96613      2019-01-01      2019-12-31  2020-05-30
 96614      2019-01-01      2019-12-31  2020-05-19

        PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                     119356.0                      113384.0
 1                                          NaN                         479.0
 2                                          0.0                           0.0
 3                                      -2748.0                       -2748.0
 4                                          0.0                           0.0
 ...                                        ...                           ...
 96610                                      NaN                        3252.0
 96611                                      NaN                        3621.0
 96612                                      NaN                        -318.0
 96613                                  72867.0                       69224.0
 96614                                      NaN                         218.0

        PARDAVIMO PAJAMOS formavimo_data
 0               182596.0     2023-03-01
 1                17406.0     2023-03-01
 2                    NaN     2023-03-01
 3               170934.0     2023-03-01
 4                    NaN     2023-03-01
 ...                  ...            ...
 96610           233772.0     2023-03-01
 96611            10580.0     2023-03-01
 96612                0.0     2023-03-01
 96613            75500.0     2023-03-01
 96614           478292.0     2023-03-01

 [96615 rows x 12 columns]]

#### Extracting columns line_name, reiksme and ja_kodas:

In [35]:
# Extracting columns line_name, reiksme and ja_kodas from dfs with all of this data:
def extract_line_name_reiksme_ja_kodas(df_list):
    """
    Extract columns 'line_name', 'reiksme', and 'ja_kodas' from DataFrames
    that contain all three columns, and remove them from the original DataFrames.

    Parameters:
    -----------
    df_list : list of pandas.DataFrame
        List of DataFrames to process (will be modified in-place)

    Returns:
    --------
    list of pandas.DataFrame
        List of DataFrames containing only the three specified columns
    """
    extracted_dfs = []

    required_columns = ['line_name', 'reiksme', 'ja_kodas']

    for i, df in enumerate(df_list):
        # Check if all required columns exist in the current DataFrame
        if all(col in df.columns for col in required_columns):
            # Extract only the required columns
            extracted_df = df[required_columns].copy()
            extracted_dfs.append(extracted_df)

            # Remove the extracted columns from the original DataFrame
            df.drop(columns=required_columns, inplace=True)
            print(f"DataFrame {i}: Successfully extracted and removed columns")
        else:
            missing_cols = [col for col in required_columns if col not in df.columns]
            print(f"DataFrame {i}: Missing columns {missing_cols} - skipped")

    print(f"\nExtracted {len(extracted_dfs)} out of {len(df_list)} DataFrames")
    return extracted_dfs

B_extracted = extract_line_name_reiksme_ja_kodas(balance_list)
P_extracted = extract_line_name_reiksme_ja_kodas(pnl_list)

# Renaming the extracted dfs to be more descriptive:
B_extracted_2025 = B_extracted[0]
B_extracted_2024 = B_extracted[1]

P_extracted_2025 = P_extracted[0]
P_extracted_2024 = P_extracted[1]

# New lists with extracted and renamed dfs:
B_extracted_renamed = [B_extracted_2025, B_extracted_2024]
P_extracted_renamed = [P_extracted_2025, P_extracted_2024]

DataFrame 0: Successfully extracted and removed columns
DataFrame 1: Successfully extracted and removed columns
DataFrame 2: Missing columns ['line_name', 'reiksme'] - skipped
DataFrame 3: Missing columns ['line_name', 'reiksme'] - skipped
DataFrame 4: Missing columns ['line_name', 'reiksme'] - skipped
DataFrame 5: Missing columns ['line_name', 'reiksme'] - skipped

Extracted 2 out of 6 DataFrames
DataFrame 0: Successfully extracted and removed columns
DataFrame 1: Successfully extracted and removed columns
DataFrame 2: Missing columns ['line_name', 'reiksme'] - skipped
DataFrame 3: Missing columns ['line_name', 'reiksme'] - skipped
DataFrame 4: Missing columns ['line_name', 'reiksme'] - skipped
DataFrame 5: Missing columns ['line_name', 'reiksme'] - skipped

Extracted 2 out of 6 DataFrames

#### Shifting the column data of extraced dfs so that every row is unique with new columns:

In [43]:
# Shifting the column data of extraced dfs so that every row is unique:
def pivot_dfs(df_list):
    """
    Apply pivot transformation to multiple DataFrames.

    Parameters:
    -----------
    df_list : list of pandas.DataFrame
        List of DataFrames to pivot

    Returns:
    --------
    list of pandas.DataFrame
        List of pivoted DataFrames
    """

    def pivot_line_names_to_columns(df):
        """
        Pivot the DataFrame so that unique values in 'line_name' become separate columns.
        """
        # Pivot the table - use ja_kodas as index, line_name values as columns, and reiksme as values
        pivoted_df = df.pivot_table(
            index='ja_kodas',
            columns='line_name',
            values='reiksme',
            aggfunc='first'  # Use first() in case of duplicates
        ).reset_index()

        # Reset column names and clean up the DataFrame
        pivoted_df.columns.name = None  # Remove the 'line_name' label from columns

        return pivoted_df

    pivoted_dfs = []

    for i, df in enumerate(df_list):
        try:
            # Check if required columns exist
            required_columns = ['line_name', 'reiksme', 'ja_kodas']
            if not all(col in df.columns for col in required_columns):
                print(f"DataFrame {i}: Missing required columns. Available: {list(df.columns)}")
                pivoted_dfs.append(df)
                continue

            pivoted_df = pivot_line_names_to_columns(df)
            pivoted_dfs.append(pivoted_df)
            print(f"DataFrame {i}: Successfully pivoted. Original shape: {df.shape}, Pivoted shape: {pivoted_df.shape}")
        except Exception as e:
            print(f"DataFrame {i}: Error during pivoting - {e}")
            # Return original DataFrame if pivoting fails
            pivoted_dfs.append(df)

    return pivoted_dfs

pivot_dfs(B_extracted_renamed)
pivot_dfs(P_extracted_renamed)

# Renaming the pivoted dfs to be more descriptive:
B_pivoted_2025 = pivot_dfs(B_extracted_renamed)[0]
B_pivoted_2024 = pivot_dfs(B_extracted_renamed)[1]

P_pivoted_2025 = pivot_dfs(P_extracted_renamed)[0]
P_pivoted_2024 = pivot_dfs(P_extracted_renamed)[1]

# Saving in lists:
B_pivoted = pivot_dfs(B_extracted_renamed)
P_pivoted = pivot_dfs(P_extracted_renamed)

DataFrame 0: Successfully pivoted. Original shape: (615188, 3), Pivoted shape: (146512, 10)
DataFrame 1: Successfully pivoted. Original shape: (604271, 3), Pivoted shape: (141315, 10)
DataFrame 0: Successfully pivoted. Original shape: (423459, 3), Pivoted shape: (146512, 9)
DataFrame 1: Successfully pivoted. Original shape: (406755, 3), Pivoted shape: (141315, 9)
DataFrame 0: Successfully pivoted. Original shape: (615188, 3), Pivoted shape: (146512, 10)
DataFrame 1: Successfully pivoted. Original shape: (604271, 3), Pivoted shape: (141315, 10)
DataFrame 0: Successfully pivoted. Original shape: (615188, 3), Pivoted shape: (146512, 10)
DataFrame 1: Successfully pivoted. Original shape: (604271, 3), Pivoted shape: (141315, 10)
DataFrame 0: Successfully pivoted. Original shape: (423459, 3), Pivoted shape: (146512, 9)
DataFrame 1: Successfully pivoted. Original shape: (406755, 3), Pivoted shape: (141315, 9)
DataFrame 0: Successfully pivoted. Original shape: (423459, 3), Pivoted shape: (146512, 9)
DataFrame 1: Successfully pivoted. Original shape: (406755, 3), Pivoted shape: (141315, 9)
DataFrame 0: Successfully pivoted. Original shape: (615188, 3), Pivoted shape: (146512, 10)
DataFrame 1: Successfully pivoted. Original shape: (604271, 3), Pivoted shape: (141315, 10)
DataFrame 0: Successfully pivoted. Original shape: (423459, 3), Pivoted shape: (146512, 9)
DataFrame 1: Successfully pivoted. Original shape: (406755, 3), Pivoted shape: (141315, 9)

#### Adding the pivoted dfs back to the original dfs:

In [45]:
# Adding the pivoted dfs back to the original dfs, wont write a function for this as it is a simple operation:

# Adding pivots back to balance data
B2025 = pd.merge(B2025, B_pivoted_2025, how='left')
print(f"B2025 shape: {B2025.shape}")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

## Adding PnL data to balance data:

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3564248015.py, line 57)