{
 "cells": [
  {
   "metadata": {},
   "cell_type": "raw",
   "source": [
    "{\n",
    " \"cells\": [\n",
    "  {\n",
    "   \"metadata\": {},\n",
    "   \"cell_type\": \"markdown\",\n",
    "   \"source\": \"# Employment data cleaning, Python notebook\",\n",
    "   \"id\": \"1f296e25248209bc\"\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {},\n",
    "   \"cell_type\": \"markdown\",\n",
    "   \"source\": \"### Library imports\",\n",
    "   \"id\": \"7dd005b11bf9e520\"\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {\n",
    "    \"ExecuteTime\": {\n",
    "     \"end_time\": \"2025-11-13T11:26:45.345367Z\",\n",
    "     \"start_time\": \"2025-11-13T11:26:44.871010Z\"\n",
    "    }\n",
    "   },\n",
    "   \"cell_type\": \"code\",\n",
    "   \"source\": [\n",
    "    \"import pandas as pd\\n\",\n",
    "    \"import numpy as np\\n\",\n",
    "    \"\\n\",\n",
    "    \"# Import statements for Functions.py\\n\",\n",
    "    \"import sys\\n\",\n",
    "    \"import os\\n\",\n",
    "    \"\\n\",\n",
    "    \"from src.python.Functions import describe_dataframes, remove_columns, check_and_pull_git_lfs\\n\",\n",
    "    \"\\n\",\n",
    "    \"sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))\\n\",\n",
    "    \"from Functions import *\\n\",\n",
    "    \"\\n\"\n",
    "   ],\n",
    "   \"id\": \"da21eae88c265fa6\",\n",
    "   \"outputs\": [],\n",
    "   \"execution_count\": 1\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {},\n",
    "   \"cell_type\": \"markdown\",\n",
    "   \"source\": \"### Data import\",\n",
    "   \"id\": \"77dc00b833f7cf61\"\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {\n",
    "    \"ExecuteTime\": {\n",
    "     \"end_time\": \"2025-11-13T11:27:46.640283Z\",\n",
    "     \"start_time\": \"2025-11-13T11:26:45.375208Z\"\n",
    "    }\n",
    "   },\n",
    "   \"cell_type\": \"code\",\n",
    "   \"source\": [\n",
    "    \"# Importing the data:\\n\",\n",
    "    \"check_and_pull_git_lfs()\\n\",\n",
    "    \"employment2024 = read_large_file('../../data/raw/firm-employment-data/monthly-2024.json', 'json')\\n\",\n",
    "    \"employment2023 = read_large_file('../../data/raw/firm-employment-data/monthly-2023.json', 'json')\\n\",\n",
    "    \"employment2022 = read_large_file('../../data/raw/firm-employment-data/monthly-2022.json', 'json')\\n\",\n",
    "    \"employment2021 = read_large_file('../../data/raw/firm-employment-data/monthly-2021.json', 'json')\\n\",\n",
    "    \"employment2020 = read_large_file('../../data/raw/firm-employment-data/monthly-2020.json', 'json')\\n\",\n",
    "    \"employment2019 = read_large_file('../../data/raw/firm-employment-data/monthly-2019.json', 'json')\\n\"\n",
    "   ],\n",
    "   \"id\": \"83ae9cfc0366b94d\",\n",
    "   \"outputs\": [\n",
    "    {\n",
    "     \"name\": \"stdout\",\n",
    "     \"output_type\": \"stream\",\n",
    "     \"text\": [\n",
    "      \"Git repository root: /home/aidas/repos/Lithuanian-Innovation-Agency-Risk-Model\\n\",\n",
    "      \"Current working directory: /home/aidas/repos/Lithuanian-Innovation-Agency-Risk-Model/notebooks/preprocessing\\n\",\n",
    "      \"Note: Switching to repository root for LFS operations\\n\",\n",
    "      \"Git LFS version: git-lfs/3.7.1 (GitHub; linux amd64; go 1.25.1)\\n\",\n",
    "      \"Checking LFS status in repository root...\\n\",\n",
    "      \"LFS Status Output:\\n\",\n",
    "      \"On branch main\\n\",\n",
    "      \"Objects to be pushed to origin/main:\\n\",\n",
    "      \"\\n\",\n",
    "      \"\\n\",\n",
    "      \"Objects to be committed:\\n\",\n",
    "      \"\\n\",\n",
    "      \"\\n\",\n",
    "      \"Objects not staged for commit:\\n\",\n",
    "      \"\\n\",\n",
    "      \"\\n\",\n",
    "      \"\\n\",\n",
    "      \"No Git LFS files need downloading\\n\",\n",
    "      \"Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2024.json\\n\",\n",
    "      \"File size: 494.15 MB\\n\",\n",
    "      \"Detected standard JSON format (array/object)\\n\",\n",
    "      \"Read JSON array with 1265352 rows\\n\",\n",
    "      \"Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2023.json\\n\",\n",
    "      \"File size: 493.55 MB\\n\",\n",
    "      \"Detected standard JSON format (array/object)\\n\",\n",
    "      \"Read JSON array with 1262409 rows\\n\",\n",
    "      \"Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2022.json\\n\",\n",
    "      \"File size: 489.66 MB\\n\",\n",
    "      \"Detected standard JSON format (array/object)\\n\",\n",
    "      \"Read JSON array with 1251233 rows\\n\",\n",
    "      \"Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2021.json\\n\",\n",
    "      \"File size: 498.07 MB\\n\",\n",
    "      \"Detected standard JSON format (array/object)\\n\",\n",
    "      \"Read JSON array with 1227034 rows\\n\",\n",
    "      \"Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2020.json\\n\",\n",
    "      \"File size: 478.72 MB\\n\",\n",
    "      \"Detected standard JSON format (array/object)\\n\",\n",
    "      \"Read JSON array with 1177773 rows\\n\",\n",
    "      \"Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2019.json\\n\",\n",
    "      \"File size: 473.09 MB\\n\",\n",
    "      \"Detected standard JSON format (array/object)\\n\",\n",
    "      \"Read JSON array with 1163329 rows\\n\"\n",
    "     ]\n",
    "    }\n",
    "   ],\n",
    "   \"execution_count\": 2\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {},\n",
    "   \"cell_type\": \"markdown\",\n",
    "   \"source\": \"### Saving as fallbacks\",\n",
    "   \"id\": \"608e06c34d7a8354\"\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {\n",
    "    \"ExecuteTime\": {\n",
    "     \"end_time\": \"2025-11-13T11:27:47.478083Z\",\n",
    "     \"start_time\": \"2025-11-13T11:27:46.783792Z\"\n",
    "    }\n",
    "   },\n",
    "   \"cell_type\": \"code\",\n",
    "   \"source\": [\n",
    "    \"\\n\",\n",
    "    \"E2024 = employment2024.copy()\\n\",\n",
    "    \"E2023 = employment2023.copy()\\n\",\n",
    "    \"E2022 = employment2022.copy()\\n\",\n",
    "    \"E2021 = employment2021.copy()\\n\",\n",
    "    \"E2020 = employment2020.copy()\\n\",\n",
    "    \"E2019 = employment2019.copy()\\n\",\n",
    "    \"\\n\",\n",
    "    \"# Save in list for later use:\\n\",\n",
    "    \"E = [E2024, E2023, E2022, E2021, E2020, E2019]\\n\"\n",
    "   ],\n",
    "   \"id\": \"1d2c39af9a76c304\",\n",
    "   \"outputs\": [],\n",
    "   \"execution_count\": 3\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {},\n",
    "   \"cell_type\": \"markdown\",\n",
    "   \"source\": \"### Data Cleaning\",\n",
    "   \"id\": \"8b69369cccc8c523\"\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {\n",
    "    \"ExecuteTime\": {\n",
    "     \"end_time\": \"2025-11-13T11:27:48.286451Z\",\n",
    "     \"start_time\": \"2025-11-13T11:27:47.536152Z\"\n",
    "    }\n",
    "   },\n",
    "   \"cell_type\": \"code\",\n",
    "   \"source\": [\n",
    "    \"columns_to_remove = ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "    \"\\n\",\n",
    "    \"remove_columns(E, columns_to_remove)\"\n",
    "   ],\n",
    "   \"id\": \"62be617b1c9afacb\",\n",
    "   \"outputs\": [\n",
    "    {\n",
    "     \"name\": \"stdout\",\n",
    "     \"output_type\": \"stream\",\n",
    "     \"text\": [\n",
    "      \"ðŸ“Š DataFrame 0:\\n\",\n",
    "      \"   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "      \"   ðŸ“‹ Remaining columns: 8\\n\",\n",
    "      \"ðŸ“Š DataFrame 1:\\n\",\n",
    "      \"   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "      \"   ðŸ“‹ Remaining columns: 8\\n\",\n",
    "      \"ðŸ“Š DataFrame 2:\\n\",\n",
    "      \"   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "      \"   ðŸ“‹ Remaining columns: 8\\n\",\n",
    "      \"ðŸ“Š DataFrame 3:\\n\",\n",
    "      \"   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "      \"   ðŸ“‹ Remaining columns: 8\\n\",\n",
    "      \"ðŸ“Š DataFrame 4:\\n\",\n",
    "      \"   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "      \"   ðŸ“‹ Remaining columns: 8\\n\",\n",
    "      \"ðŸ“Š DataFrame 5:\\n\",\n",
    "      \"   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']\\n\",\n",
    "      \"   ðŸ“‹ Remaining columns: 8\\n\",\n",
    "      \"\\n\",\n",
    "      \"ðŸŽ¯ FINAL SUMMARY:\\n\",\n",
    "      \"   ðŸ“¦ Processed 6 DataFrames\\n\",\n",
    "      \"   ðŸ—‘ï¸  Total columns removed: 36\\n\",\n",
    "      \"   â­ï¸  Total columns skipped: 0\\n\"\n",
    "     ]\n",
    "    },\n",
    "    {\n",
    "     \"data\": {\n",
    "      \"text/plain\": [\n",
    "       \"[           jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202401  2502.17       NaN           5            0   \\n\",\n",
    "       \" 1                   202401      NaN       NaN           3            0   \\n\",\n",
    "       \" 2                   202401  1470.39       NaN          24            0   \\n\",\n",
    "       \" 3                   202401  2509.23       NaN          10            0   \\n\",\n",
    "       \" 4                   202401  1247.19       NaN          19            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1265347  307049184  202412      NaN       NaN           2            0   \\n\",\n",
    "       \" 1265348  307050133  202412  4823.23       NaN           4            0   \\n\",\n",
    "       \" 1265349  307050432  202412      NaN       NaN           1            0   \\n\",\n",
    "       \" 1265350  307050998  202412      NaN       NaN           2            0   \\n\",\n",
    "       \" 1265351  307054142  202412      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0        2886.94         NaN  \\n\",\n",
    "       \" 1            NaN         NaN  \\n\",\n",
    "       \" 2        8140.29         NaN  \\n\",\n",
    "       \" 3        5568.42         NaN  \\n\",\n",
    "       \" 4        5271.17         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1265347      NaN         NaN  \\n\",\n",
    "       \" 1265348  4682.39         NaN  \\n\",\n",
    "       \" 1265349      NaN         NaN  \\n\",\n",
    "       \" 1265350      NaN         NaN  \\n\",\n",
    "       \" 1265351      NaN         NaN  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1265352 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202301      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202301  1651.63       NaN          11            0   \\n\",\n",
    "       \" 2                   202301  2419.21       NaN           5            0   \\n\",\n",
    "       \" 3                   202301  1287.87       NaN          23            0   \\n\",\n",
    "       \" 4                   202301  1245.95       NaN          19            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1262404  306634612  202311   143.27       NaN           5            0   \\n\",\n",
    "       \" 1262405  306634612  202312   835.91       NaN          14            0   \\n\",\n",
    "       \" 1262406  306635365  202311      NaN       NaN           1            0   \\n\",\n",
    "       \" 1262407  306638735  202311      NaN       NaN           1            0   \\n\",\n",
    "       \" 1262408  306638735  202312      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        4009.89         NaN  \\n\",\n",
    "       \" 2        2782.34         NaN  \\n\",\n",
    "       \" 3        6869.31         NaN  \\n\",\n",
    "       \" 4        5269.30         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1262404   173.56         NaN  \\n\",\n",
    "       \" 1262405  2777.61         NaN  \\n\",\n",
    "       \" 1262406      NaN         NaN  \\n\",\n",
    "       \" 1262407      NaN    642000.0  \\n\",\n",
    "       \" 1262408      NaN    642000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1262409 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202201      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202201  1758.46       NaN           8            0   \\n\",\n",
    "       \" 2                   202201  1834.75       NaN           6            0   \\n\",\n",
    "       \" 3                   202201  1258.85       NaN          21            0   \\n\",\n",
    "       \" 4                   202201  1213.67       NaN          18            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1251228  306199583  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" 1251229  306200929  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" 1251230  306201109  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" 1251231  306201155  202212      NaN       NaN           2            0   \\n\",\n",
    "       \" 1251232  306201657  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        3164.38         NaN  \\n\",\n",
    "       \" 2        2602.91         NaN  \\n\",\n",
    "       \" 3        5992.95         NaN  \\n\",\n",
    "       \" 4        4901.84         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1251228      NaN    829900.0  \\n\",\n",
    "       \" 1251229      NaN    702200.0  \\n\",\n",
    "       \" 1251230      NaN    451100.0  \\n\",\n",
    "       \" 1251231      NaN    101100.0  \\n\",\n",
    "       \" 1251232      NaN    860000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1251233 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202101      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202101  1690.69       NaN           8            0   \\n\",\n",
    "       \" 2                   202101  1746.65       NaN           7            0   \\n\",\n",
    "       \" 3                   202101  1216.86       NaN          23            0   \\n\",\n",
    "       \" 4                   202101  1169.69       NaN          18            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1227029  305963804  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227030  305964233  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227031  305964703  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227032  305965118  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227033  305966896  202112      NaN       NaN           2            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        3048.75         NaN  \\n\",\n",
    "       \" 2        2838.27         NaN  \\n\",\n",
    "       \" 3        6329.17         NaN  \\n\",\n",
    "       \" 4        4675.38         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1227029      NaN    469000.0  \\n\",\n",
    "       \" 1227030      NaN    702000.0  \\n\",\n",
    "       \" 1227031      NaN    711210.0  \\n\",\n",
    "       \" 1227032      NaN    952200.0  \\n\",\n",
    "       \" 1227033      NaN    494000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1227034 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202001      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202001  1763.61       NaN           7            0   \\n\",\n",
    "       \" 2                   202001  2045.02       NaN           6            0   \\n\",\n",
    "       \" 3                   202001  1272.62       NaN          23            0   \\n\",\n",
    "       \" 4                   202001  1147.08       NaN          18            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1177768  305672446  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177769  305672510  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177770  305672962  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177771  305673306  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177772  305673594  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        2764.47         NaN  \\n\",\n",
    "       \" 2        2826.88         NaN  \\n\",\n",
    "       \" 3        6578.46         NaN  \\n\",\n",
    "       \" 4        4588.65         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1177768      NaN    620200.0  \\n\",\n",
    "       \" 1177769      NaN    451100.0  \\n\",\n",
    "       \" 1177770      NaN    460000.0  \\n\",\n",
    "       \" 1177771      NaN         NaN  \\n\",\n",
    "       \" 1177772      NaN    560000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1177773 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   201901      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   201901  1712.98       NaN           8            0   \\n\",\n",
    "       \" 2                   201901  2266.82       NaN           5            0   \\n\",\n",
    "       \" 3                   201901  1278.02       NaN          22            0   \\n\",\n",
    "       \" 4                   201901  1059.64       NaN          20            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1163324  305399588  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163325  305400001  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163326  305402454  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163327  305403428  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163328  305408973  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        3075.15         NaN  \\n\",\n",
    "       \" 2        2101.23         NaN  \\n\",\n",
    "       \" 3        6355.74         NaN  \\n\",\n",
    "       \" 4        4653.46         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1163324      NaN    411000.0  \\n\",\n",
    "       \" 1163325      NaN         NaN  \\n\",\n",
    "       \" 1163326      NaN    800000.0  \\n\",\n",
    "       \" 1163327      NaN    702200.0  \\n\",\n",
    "       \" 1163328      NaN    702200.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1163329 rows x 8 columns]]\"\n",
    "      ]\n",
    "     },\n",
    "     \"execution_count\": 4,\n",
    "     \"metadata\": {},\n",
    "     \"output_type\": \"execute_result\"\n",
    "    }\n",
    "   ],\n",
    "   \"execution_count\": 4\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {},\n",
    "   \"cell_type\": \"markdown\",\n",
    "   \"source\": [\n",
    "    \"### Column merges\\n\",\n",
    "    \"Merging numInsured and numInsured2 since we just care about the total number of employees.\"\n",
    "   ],\n",
    "   \"id\": \"b60d324d103b517a\"\n",
    "  },\n",
    "  {\n",
    "   \"metadata\": {\n",
    "    \"ExecuteTime\": {\n",
    "     \"end_time\": \"2025-11-13T11:27:48.683272Z\",\n",
    "     \"start_time\": \"2025-11-13T11:27:48.361503Z\"\n",
    "    }\n",
    "   },\n",
    "   \"cell_type\": \"code\",\n",
    "   \"source\": [\n",
    "    \"merge_columns(E, 'numInsured', 'numInsured2', 'total_employees', 'sum')\\n\",\n",
    "    \"\\n\"\n",
    "   ],\n",
    "   \"id\": \"2c22fb04ea215593\",\n",
    "   \"outputs\": [\n",
    "    {\n",
    "     \"name\": \"stdout\",\n",
    "     \"output_type\": \"stream\",\n",
    "     \"text\": [\n",
    "      \"DataFrame 0: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy\\n\",\n",
    "      \"DataFrame 0: Error merging columns - Unsupported merge_type: total_employees\\n\",\n",
    "      \"DataFrame 1: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy\\n\",\n",
    "      \"DataFrame 1: Error merging columns - Unsupported merge_type: total_employees\\n\",\n",
    "      \"DataFrame 2: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy\\n\",\n",
    "      \"DataFrame 2: Error merging columns - Unsupported merge_type: total_employees\\n\",\n",
    "      \"DataFrame 3: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy\\n\",\n",
    "      \"DataFrame 3: Error merging columns - Unsupported merge_type: total_employees\\n\",\n",
    "      \"DataFrame 4: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy\\n\",\n",
    "      \"DataFrame 4: Error merging columns - Unsupported merge_type: total_employees\\n\",\n",
    "      \"DataFrame 5: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy\\n\",\n",
    "      \"DataFrame 5: Error merging columns - Unsupported merge_type: total_employees\\n\"\n",
    "     ]\n",
    "    },\n",
    "    {\n",
    "     \"data\": {\n",
    "      \"text/plain\": [\n",
    "       \"[           jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202401  2502.17       NaN           5            0   \\n\",\n",
    "       \" 1                   202401      NaN       NaN           3            0   \\n\",\n",
    "       \" 2                   202401  1470.39       NaN          24            0   \\n\",\n",
    "       \" 3                   202401  2509.23       NaN          10            0   \\n\",\n",
    "       \" 4                   202401  1247.19       NaN          19            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1265347  307049184  202412      NaN       NaN           2            0   \\n\",\n",
    "       \" 1265348  307050133  202412  4823.23       NaN           4            0   \\n\",\n",
    "       \" 1265349  307050432  202412      NaN       NaN           1            0   \\n\",\n",
    "       \" 1265350  307050998  202412      NaN       NaN           2            0   \\n\",\n",
    "       \" 1265351  307054142  202412      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0        2886.94         NaN  \\n\",\n",
    "       \" 1            NaN         NaN  \\n\",\n",
    "       \" 2        8140.29         NaN  \\n\",\n",
    "       \" 3        5568.42         NaN  \\n\",\n",
    "       \" 4        5271.17         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1265347      NaN         NaN  \\n\",\n",
    "       \" 1265348  4682.39         NaN  \\n\",\n",
    "       \" 1265349      NaN         NaN  \\n\",\n",
    "       \" 1265350      NaN         NaN  \\n\",\n",
    "       \" 1265351      NaN         NaN  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1265352 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202301      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202301  1651.63       NaN          11            0   \\n\",\n",
    "       \" 2                   202301  2419.21       NaN           5            0   \\n\",\n",
    "       \" 3                   202301  1287.87       NaN          23            0   \\n\",\n",
    "       \" 4                   202301  1245.95       NaN          19            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1262404  306634612  202311   143.27       NaN           5            0   \\n\",\n",
    "       \" 1262405  306634612  202312   835.91       NaN          14            0   \\n\",\n",
    "       \" 1262406  306635365  202311      NaN       NaN           1            0   \\n\",\n",
    "       \" 1262407  306638735  202311      NaN       NaN           1            0   \\n\",\n",
    "       \" 1262408  306638735  202312      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        4009.89         NaN  \\n\",\n",
    "       \" 2        2782.34         NaN  \\n\",\n",
    "       \" 3        6869.31         NaN  \\n\",\n",
    "       \" 4        5269.30         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1262404   173.56         NaN  \\n\",\n",
    "       \" 1262405  2777.61         NaN  \\n\",\n",
    "       \" 1262406      NaN         NaN  \\n\",\n",
    "       \" 1262407      NaN    642000.0  \\n\",\n",
    "       \" 1262408      NaN    642000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1262409 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202201      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202201  1758.46       NaN           8            0   \\n\",\n",
    "       \" 2                   202201  1834.75       NaN           6            0   \\n\",\n",
    "       \" 3                   202201  1258.85       NaN          21            0   \\n\",\n",
    "       \" 4                   202201  1213.67       NaN          18            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1251228  306199583  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" 1251229  306200929  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" 1251230  306201109  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" 1251231  306201155  202212      NaN       NaN           2            0   \\n\",\n",
    "       \" 1251232  306201657  202212      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        3164.38         NaN  \\n\",\n",
    "       \" 2        2602.91         NaN  \\n\",\n",
    "       \" 3        5992.95         NaN  \\n\",\n",
    "       \" 4        4901.84         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1251228      NaN    829900.0  \\n\",\n",
    "       \" 1251229      NaN    702200.0  \\n\",\n",
    "       \" 1251230      NaN    451100.0  \\n\",\n",
    "       \" 1251231      NaN    101100.0  \\n\",\n",
    "       \" 1251232      NaN    860000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1251233 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202101      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202101  1690.69       NaN           8            0   \\n\",\n",
    "       \" 2                   202101  1746.65       NaN           7            0   \\n\",\n",
    "       \" 3                   202101  1216.86       NaN          23            0   \\n\",\n",
    "       \" 4                   202101  1169.69       NaN          18            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1227029  305963804  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227030  305964233  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227031  305964703  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227032  305965118  202112      NaN       NaN           1            0   \\n\",\n",
    "       \" 1227033  305966896  202112      NaN       NaN           2            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        3048.75         NaN  \\n\",\n",
    "       \" 2        2838.27         NaN  \\n\",\n",
    "       \" 3        6329.17         NaN  \\n\",\n",
    "       \" 4        4675.38         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1227029      NaN    469000.0  \\n\",\n",
    "       \" 1227030      NaN    702000.0  \\n\",\n",
    "       \" 1227031      NaN    711210.0  \\n\",\n",
    "       \" 1227032      NaN    952200.0  \\n\",\n",
    "       \" 1227033      NaN    494000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1227034 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   202001      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   202001  1763.61       NaN           7            0   \\n\",\n",
    "       \" 2                   202001  2045.02       NaN           6            0   \\n\",\n",
    "       \" 3                   202001  1272.62       NaN          23            0   \\n\",\n",
    "       \" 4                   202001  1147.08       NaN          18            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1177768  305672446  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177769  305672510  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177770  305672962  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177771  305673306  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" 1177772  305673594  202012      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        2764.47         NaN  \\n\",\n",
    "       \" 2        2826.88         NaN  \\n\",\n",
    "       \" 3        6578.46         NaN  \\n\",\n",
    "       \" 4        4588.65         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1177768      NaN    620200.0  \\n\",\n",
    "       \" 1177769      NaN    451100.0  \\n\",\n",
    "       \" 1177770      NaN    460000.0  \\n\",\n",
    "       \" 1177771      NaN         NaN  \\n\",\n",
    "       \" 1177772      NaN    560000.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1177773 rows x 8 columns],\\n\",\n",
    "       \"            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \\\\\\n\",\n",
    "       \" 0                   201901      NaN       NaN           3            0   \\n\",\n",
    "       \" 1                   201901  1712.98       NaN           8            0   \\n\",\n",
    "       \" 2                   201901  2266.82       NaN           5            0   \\n\",\n",
    "       \" 3                   201901  1278.02       NaN          22            0   \\n\",\n",
    "       \" 4                   201901  1059.64       NaN          20            0   \\n\",\n",
    "       \" ...            ...     ...      ...       ...         ...          ...   \\n\",\n",
    "       \" 1163324  305399588  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163325  305400001  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163326  305402454  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163327  305403428  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" 1163328  305408973  201912      NaN       NaN           1            0   \\n\",\n",
    "       \" \\n\",\n",
    "       \"              tax  ecoActCode  \\n\",\n",
    "       \" 0            NaN         NaN  \\n\",\n",
    "       \" 1        3075.15         NaN  \\n\",\n",
    "       \" 2        2101.23         NaN  \\n\",\n",
    "       \" 3        6355.74         NaN  \\n\",\n",
    "       \" 4        4653.46         NaN  \\n\",\n",
    "       \" ...          ...         ...  \\n\",\n",
    "       \" 1163324      NaN    411000.0  \\n\",\n",
    "       \" 1163325      NaN         NaN  \\n\",\n",
    "       \" 1163326      NaN    800000.0  \\n\",\n",
    "       \" 1163327      NaN    702200.0  \\n\",\n",
    "       \" 1163328      NaN    702200.0  \\n\",\n",
    "       \" \\n\",\n",
    "       \" [1163329 rows x 8 columns]]\"\n",
    "      ]\n",
    "     },\n",
    "     \"execution_count\": 5,\n",
    "     \"metadata\": {},\n",
    "     \"output_type\": \"execute_result\"\n",
    "    }\n",
    "   ],\n",
    "   \"execution_count\": 5\n",
    "  }\n",
    " ],\n",
    " \"metadata\": {\n",
    "  \"kernelspec\": {\n",
    "   \"name\": \"python3\",\n",
    "   \"language\": \"python\",\n",
    "   \"display_name\": \"Python 3 (ipykernel)\"\n",
    "  }\n",
    " },\n",
    " \"nbformat\": 4,\n",
    " \"nbformat_minor\": 5\n",
    "}\n"
   ],
   "id": "5070f764340ea10d"
  }
 ],
 "metadata": {
  "kernelspec": {
   "name": "python3",
   "language": "python",
   "display_name": "Python 3 (ipykernel)"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

In [1]:
import pandas as pd
import numpy as np

# Import statements for Functions.py
import sys
import os

from src.python.Functions import describe_dataframes, remove_columns, check_and_pull_git_lfs

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

In [3]:
# Importing the data:
check_and_pull_git_lfs()
employment2024 = read_large_file('../../data/raw/firm-employment-data/monthly-2024.json', 'json')
employment2023 = read_large_file('../../data/raw/firm-employment-data/monthly-2023.json', 'json')
employment2022 = read_large_file('../../data/raw/firm-employment-data/monthly-2022.json', 'json')
employment2021 = read_large_file('../../data/raw/firm-employment-data/monthly-2021.json', 'json')
employment2020 = read_large_file('../../data/raw/firm-employment-data/monthly-2020.json', 'json')
employment2019 = read_large_file('../../data/raw/firm-employment-data/monthly-2019.json', 'json')

Git repository root: /home/aidas/repos/Lithuanian-Innovation-Agency-Risk-Model
Current working directory: /home/aidas/repos/Lithuanian-Innovation-Agency-Risk-Model/notebooks/preprocessing
Note: Switching to repository root for LFS operations
Git LFS version: git-lfs/3.7.1 (GitHub; linux amd64; go 1.25.1)
Checking LFS status in repository root...
LFS Status Output:
On branch main
Objects to be pushed to origin/main:


Objects to be committed:


Objects not staged for commit:

	notebooks/preprocessing/Employment-data-cleaning.ipynb (Git: d485cbe -> File: e62b03b)
	src/python/Functions.py (Git: 67d6698 -> File: 4fa7ee8)


No Git LFS files need downloading
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2024.json
File size: 494.15 MB
Detected standard JSON format (array/object)
Read JSON array with 1265352 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2023.json
File size: 493.55 MB
Detected standard JSON format (array/object)
Read JSON array with 1262409 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2022.json
File size: 489.66 MB
Detected standard JSON format (array/object)
Read JSON array with 1251233 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2021.json
File size: 498.07 MB
Detected standard JSON format (array/object)
Read JSON array with 1227034 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2020.json
File size: 478.72 MB
Detected standard JSON format (array/object)
Read JSON array with 1177773 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2019.json
File size: 473.09 MB
Detected standard JSON format (array/object)
Read JSON array with 1163329 rows

In [4]:

E2024 = employment2024.copy()
E2023 = employment2023.copy()
E2022 = employment2022.copy()
E2021 = employment2021.copy()
E2020 = employment2020.copy()
E2019 = employment2019.copy()

# Save in list for later use:
E = [E2024, E2023, E2022, E2021, E2020, E2019]

In [5]:
columns_to_remove = ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']

remove_columns(E, columns_to_remove)

ðŸ“Š DataFrame 0:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']
   ðŸ“‹ Remaining columns: 8
ðŸ“Š DataFrame 1:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']
   ðŸ“‹ Remaining columns: 8
ðŸ“Š DataFrame 2:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']
   ðŸ“‹ Remaining columns: 8
ðŸ“Š DataFrame 3:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']
   ðŸ“‹ Remaining columns: 8
ðŸ“Š DataFrame 4:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']
   ðŸ“‹ Remaining columns: 8
ðŸ“Š DataFrame 5:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'municipality']
   ðŸ“‹ Remaining columns: 8

ðŸŽ¯ FINAL SUMMARY:
   ðŸ“¦ Processed 6 DataFrames
   ðŸ—‘ï¸  Total columns removed: 36
   â­ï¸  Total columns skipped: 0

[           jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202401  2502.17       NaN           5            0
 1                   202401      NaN       NaN           3            0
 2                   202401  1470.39       NaN          24            0
 3                   202401  2509.23       NaN          10            0
 4                   202401  1247.19       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1265347  307049184  202412      NaN       NaN           2            0
 1265348  307050133  202412  4823.23       NaN           4            0
 1265349  307050432  202412      NaN       NaN           1            0
 1265350  307050998  202412      NaN       NaN           2            0
 1265351  307054142  202412      NaN       NaN           1            0

              tax  ecoActCode
 0        2886.94         NaN
 1            NaN         NaN
 2        8140.29         NaN
 3        5568.42         NaN
 4        5271.17         NaN
 ...          ...         ...
 1265347      NaN         NaN
 1265348  4682.39         NaN
 1265349      NaN         NaN
 1265350      NaN         NaN
 1265351      NaN         NaN

 [1265352 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202301      NaN       NaN           3            0
 1                   202301  1651.63       NaN          11            0
 2                   202301  2419.21       NaN           5            0
 3                   202301  1287.87       NaN          23            0
 4                   202301  1245.95       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1262404  306634612  202311   143.27       NaN           5            0
 1262405  306634612  202312   835.91       NaN          14            0
 1262406  306635365  202311      NaN       NaN           1            0
 1262407  306638735  202311      NaN       NaN           1            0
 1262408  306638735  202312      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        4009.89         NaN
 2        2782.34         NaN
 3        6869.31         NaN
 4        5269.30         NaN
 ...          ...         ...
 1262404   173.56         NaN
 1262405  2777.61         NaN
 1262406      NaN         NaN
 1262407      NaN    642000.0
 1262408      NaN    642000.0

 [1262409 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202201      NaN       NaN           3            0
 1                   202201  1758.46       NaN           8            0
 2                   202201  1834.75       NaN           6            0
 3                   202201  1258.85       NaN          21            0
 4                   202201  1213.67       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1251228  306199583  202212      NaN       NaN           1            0
 1251229  306200929  202212      NaN       NaN           1            0
 1251230  306201109  202212      NaN       NaN           1            0
 1251231  306201155  202212      NaN       NaN           2            0
 1251232  306201657  202212      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        3164.38         NaN
 2        2602.91         NaN
 3        5992.95         NaN
 4        4901.84         NaN
 ...          ...         ...
 1251228      NaN    829900.0
 1251229      NaN    702200.0
 1251230      NaN    451100.0
 1251231      NaN    101100.0
 1251232      NaN    860000.0

 [1251233 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202101      NaN       NaN           3            0
 1                   202101  1690.69       NaN           8            0
 2                   202101  1746.65       NaN           7            0
 3                   202101  1216.86       NaN          23            0
 4                   202101  1169.69       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1227029  305963804  202112      NaN       NaN           1            0
 1227030  305964233  202112      NaN       NaN           1            0
 1227031  305964703  202112      NaN       NaN           1            0
 1227032  305965118  202112      NaN       NaN           1            0
 1227033  305966896  202112      NaN       NaN           2            0

              tax  ecoActCode
 0            NaN         NaN
 1        3048.75         NaN
 2        2838.27         NaN
 3        6329.17         NaN
 4        4675.38         NaN
 ...          ...         ...
 1227029      NaN    469000.0
 1227030      NaN    702000.0
 1227031      NaN    711210.0
 1227032      NaN    952200.0
 1227033      NaN    494000.0

 [1227034 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202001      NaN       NaN           3            0
 1                   202001  1763.61       NaN           7            0
 2                   202001  2045.02       NaN           6            0
 3                   202001  1272.62       NaN          23            0
 4                   202001  1147.08       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1177768  305672446  202012      NaN       NaN           1            0
 1177769  305672510  202012      NaN       NaN           1            0
 1177770  305672962  202012      NaN       NaN           1            0
 1177771  305673306  202012      NaN       NaN           1            0
 1177772  305673594  202012      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        2764.47         NaN
 2        2826.88         NaN
 3        6578.46         NaN
 4        4588.65         NaN
 ...          ...         ...
 1177768      NaN    620200.0
 1177769      NaN    451100.0
 1177770      NaN    460000.0
 1177771      NaN         NaN
 1177772      NaN    560000.0

 [1177773 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   201901      NaN       NaN           3            0
 1                   201901  1712.98       NaN           8            0
 2                   201901  2266.82       NaN           5            0
 3                   201901  1278.02       NaN          22            0
 4                   201901  1059.64       NaN          20            0
 ...            ...     ...      ...       ...         ...          ...
 1163324  305399588  201912      NaN       NaN           1            0
 1163325  305400001  201912      NaN       NaN           1            0
 1163326  305402454  201912      NaN       NaN           1            0
 1163327  305403428  201912      NaN       NaN           1            0
 1163328  305408973  201912      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        3075.15         NaN
 2        2101.23         NaN
 3        6355.74         NaN
 4        4653.46         NaN
 ...          ...         ...
 1163324      NaN    411000.0
 1163325      NaN         NaN
 1163326      NaN    800000.0
 1163327      NaN    702200.0
 1163328      NaN    702200.0

 [1163329 rows x 8 columns]]

In [6]:
merge_columns(E, 'numInsured', 'numInsured2', 'total_employees', 'sum')

DataFrame 0: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy
DataFrame 0: Error merging columns - Unsupported merge_type: total_employees
DataFrame 1: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy
DataFrame 1: Error merging columns - Unsupported merge_type: total_employees
DataFrame 2: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy
DataFrame 2: Error merging columns - Unsupported merge_type: total_employees
DataFrame 3: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy
DataFrame 3: Error merging columns - Unsupported merge_type: total_employees
DataFrame 4: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy
DataFrame 4: Error merging columns - Unsupported merge_type: total_employees
DataFrame 5: Merging columns ['numInsured', 'numInsured2'] using 'total_employees' strategy
DataFrame 5: Error merging columns - Unsupported merge_type: total_employees

[           jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202401  2502.17       NaN           5            0
 1                   202401      NaN       NaN           3            0
 2                   202401  1470.39       NaN          24            0
 3                   202401  2509.23       NaN          10            0
 4                   202401  1247.19       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1265347  307049184  202412      NaN       NaN           2            0
 1265348  307050133  202412  4823.23       NaN           4            0
 1265349  307050432  202412      NaN       NaN           1            0
 1265350  307050998  202412      NaN       NaN           2            0
 1265351  307054142  202412      NaN       NaN           1            0

              tax  ecoActCode
 0        2886.94         NaN
 1            NaN         NaN
 2        8140.29         NaN
 3        5568.42         NaN
 4        5271.17         NaN
 ...          ...         ...
 1265347      NaN         NaN
 1265348  4682.39         NaN
 1265349      NaN         NaN
 1265350      NaN         NaN
 1265351      NaN         NaN

 [1265352 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202301      NaN       NaN           3            0
 1                   202301  1651.63       NaN          11            0
 2                   202301  2419.21       NaN           5            0
 3                   202301  1287.87       NaN          23            0
 4                   202301  1245.95       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1262404  306634612  202311   143.27       NaN           5            0
 1262405  306634612  202312   835.91       NaN          14            0
 1262406  306635365  202311      NaN       NaN           1            0
 1262407  306638735  202311      NaN       NaN           1            0
 1262408  306638735  202312      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        4009.89         NaN
 2        2782.34         NaN
 3        6869.31         NaN
 4        5269.30         NaN
 ...          ...         ...
 1262404   173.56         NaN
 1262405  2777.61         NaN
 1262406      NaN         NaN
 1262407      NaN    642000.0
 1262408      NaN    642000.0

 [1262409 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202201      NaN       NaN           3            0
 1                   202201  1758.46       NaN           8            0
 2                   202201  1834.75       NaN           6            0
 3                   202201  1258.85       NaN          21            0
 4                   202201  1213.67       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1251228  306199583  202212      NaN       NaN           1            0
 1251229  306200929  202212      NaN       NaN           1            0
 1251230  306201109  202212      NaN       NaN           1            0
 1251231  306201155  202212      NaN       NaN           2            0
 1251232  306201657  202212      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        3164.38         NaN
 2        2602.91         NaN
 3        5992.95         NaN
 4        4901.84         NaN
 ...          ...         ...
 1251228      NaN    829900.0
 1251229      NaN    702200.0
 1251230      NaN    451100.0
 1251231      NaN    101100.0
 1251232      NaN    860000.0

 [1251233 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202101      NaN       NaN           3            0
 1                   202101  1690.69       NaN           8            0
 2                   202101  1746.65       NaN           7            0
 3                   202101  1216.86       NaN          23            0
 4                   202101  1169.69       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1227029  305963804  202112      NaN       NaN           1            0
 1227030  305964233  202112      NaN       NaN           1            0
 1227031  305964703  202112      NaN       NaN           1            0
 1227032  305965118  202112      NaN       NaN           1            0
 1227033  305966896  202112      NaN       NaN           2            0

              tax  ecoActCode
 0            NaN         NaN
 1        3048.75         NaN
 2        2838.27         NaN
 3        6329.17         NaN
 4        4675.38         NaN
 ...          ...         ...
 1227029      NaN    469000.0
 1227030      NaN    702000.0
 1227031      NaN    711210.0
 1227032      NaN    952200.0
 1227033      NaN    494000.0

 [1227034 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202001      NaN       NaN           3            0
 1                   202001  1763.61       NaN           7            0
 2                   202001  2045.02       NaN           6            0
 3                   202001  1272.62       NaN          23            0
 4                   202001  1147.08       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1177768  305672446  202012      NaN       NaN           1            0
 1177769  305672510  202012      NaN       NaN           1            0
 1177770  305672962  202012      NaN       NaN           1            0
 1177771  305673306  202012      NaN       NaN           1            0
 1177772  305673594  202012      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        2764.47         NaN
 2        2826.88         NaN
 3        6578.46         NaN
 4        4588.65         NaN
 ...          ...         ...
 1177768      NaN    620200.0
 1177769      NaN    451100.0
 1177770      NaN    460000.0
 1177771      NaN         NaN
 1177772      NaN    560000.0

 [1177773 rows x 8 columns],
            jarCode   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   201901      NaN       NaN           3            0
 1                   201901  1712.98       NaN           8            0
 2                   201901  2266.82       NaN           5            0
 3                   201901  1278.02       NaN          22            0
 4                   201901  1059.64       NaN          20            0
 ...            ...     ...      ...       ...         ...          ...
 1163324  305399588  201912      NaN       NaN           1            0
 1163325  305400001  201912      NaN       NaN           1            0
 1163326  305402454  201912      NaN       NaN           1            0
 1163327  305403428  201912      NaN       NaN           1            0
 1163328  305408973  201912      NaN       NaN           1            0

              tax  ecoActCode
 0            NaN         NaN
 1        3075.15         NaN
 2        2101.23         NaN
 3        6355.74         NaN
 4        4653.46         NaN
 ...          ...         ...
 1163324      NaN    411000.0
 1163325      NaN         NaN
 1163326      NaN    800000.0
 1163327      NaN    702200.0
 1163328      NaN    702200.0

 [1163329 rows x 8 columns]]