## Variable creation

### Importing libraries

In [1]:

# Importing libraries
import pandas as pd
import numpy as np
import os
import sys

from src.python import read_large_file, create_variable_eval, set_columns_to_datetime, extract_columns, \
    merge_similar_dfs, save_df_list_to_csv_auto

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

### Importing the dataset
We will use the less filler datasets for this notebook.

In [2]:
# Importing the dataset

# Full financial year, all ja_kodas codes.
oFFAJKA2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2025_full_financial_year_all.csv')
oFFAJKA2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2024_full_financial_year_all.csv')
oFFAJKA2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2023_full_financial_year_all.csv')
oFFAJKA2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2022_full_financial_year_all.csv')
oFFAJKA2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2021_full_financial_year_all.csv')
oFFAJKA2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2020_full_financial_year_all.csv')

# Full financial year, mathing ja_kodas codes.
oFFAJKM2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2025_full_financial_year_matching.csv')
oFFAJKM2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2024_full_financial_year_matching.csv')
oFFAJKM2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2023_full_financial_year_matching.csv')
oFFAJKM2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2022_full_financial_year_matching.csv')
oFFAJKM2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2021_full_financial_year_matching.csv')
oFFAJKM2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2020_full_financial_year_matching.csv')

#New firms included, all ja_kodas codes.
oNFAJKA2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2025_all_firms_all.csv')
oNFAJKA2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2024_all_firms_all.csv')
oNFAJKA2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2023_all_firms_all.csv')
oNFAJKA2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2022_all_firms_all.csv')
oNFAJKA2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2021_all_firms_all.csv')
oNFAJKA2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2020_all_firms_all.csv')

#New firms included, matching ja_kodas codes.
oNFAJKM2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2025_all_firms_matching.csv')
oNFAJKM2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2024_all_firms_matching.csv')
oNFAJKM2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2023_all_firms_matching.csv')
oNFAJKM2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2022_all_firms_matching.csv')
oNFAJKM2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2021_all_firms_matching.csv')
oNFAJKM2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2020_all_firms_matching.csv')

# Address data

Address = pd.read_excel('../../data/raw/firm-adress-data/JAR_ADRESAI_su_apskritimis.xlsx')

Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2025_full_financial_year_all.csv
File size: 20.21 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 2531 rows (total: 132531)
Concatenating 14 chunks...
Finished reading. Total rows: 132531
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2024_full_financial_year_all.csv
File size: 19.32 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 6352 rows (total: 126352)
Concatenating 13 chunks...
Finished reading. Total rows: 126352
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2023_full_financial_year_all.csv
File size: 18.27 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 5097 rows (total: 125097)
Concatenating 13 chunks...
Finished reading. Total rows: 125097
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2022_full_financial_year_all.csv
File size: 11.91 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 7033 rows (total: 107033)
Concatenating 11 chunks...
Finished reading. Total rows: 107033
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2021_full_financial_year_all.csv
File size: 13.90 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 4514 rows (total: 94514)
Concatenating 10 chunks...
Finished reading. Total rows: 94514
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2020_full_financial_year_all.csv
File size: 12.81 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 6742 rows (total: 86742)
Concatenating 9 chunks...
Finished reading. Total rows: 86742
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2025_full_financial_year_matching.csv
File size: 19.53 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 384 rows (total: 130384)
Concatenating 14 chunks...
Finished reading. Total rows: 130384
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2024_full_financial_year_matching.csv
File size: 18.68 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.05}
Detected delimiter: ',' (score: 16.05)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 4484 rows (total: 124484)
Concatenating 13 chunks...
Finished reading. Total rows: 124484
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2023_full_financial_year_matching.csv
File size: 15.78 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.15}
Detected delimiter: ',' (score: 16.15)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 5929 rows (total: 105929)
Concatenating 11 chunks...
Finished reading. Total rows: 105929
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2022_full_financial_year_matching.csv
File size: 0.98 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 6911 rows (total: 6911)
Concatenating 1 chunks...
Finished reading. Total rows: 6911
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2021_full_financial_year_matching.csv
File size: 13.00 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 6395 rows (total: 86395)
Concatenating 9 chunks...
Finished reading. Total rows: 86395
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2020_full_financial_year_matching.csv
File size: 12.00 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 9357 rows (total: 79357)
Concatenating 8 chunks...
Finished reading. Total rows: 79357
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2025_all_firms_all.csv
File size: 21.89 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 10000 rows (total: 140000)
Processed chunk 15 with 4336 rows (total: 144336)
Concatenating 15 chunks...
Finished reading. Total rows: 144336
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2024_all_firms_all.csv
File size: 21.05 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 8564 rows (total: 138564)
Concatenating 14 chunks...
Finished reading. Total rows: 138564
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2023_all_firms_all.csv
File size: 19.80 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 6578 rows (total: 136578)
Concatenating 14 chunks...
Finished reading. Total rows: 136578
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2022_all_firms_all.csv
File size: 16.88 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 6768 rows (total: 116768)
Concatenating 12 chunks...
Finished reading. Total rows: 116768
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2021_all_firms_all.csv
File size: 15.13 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 3744 rows (total: 103744)
Concatenating 11 chunks...
Finished reading. Total rows: 103744
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2020_all_firms_all.csv
File size: 13.90 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 4664 rows (total: 94664)
Concatenating 10 chunks...
Finished reading. Total rows: 94664
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2025_all_firms_matching.csv
File size: 21.17 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 10000 rows (total: 140000)
Processed chunk 15 with 2174 rows (total: 142174)
Concatenating 15 chunks...
Finished reading. Total rows: 142174
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2024_all_firms_matching.csv
File size: 20.37 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.05}
Detected delimiter: ',' (score: 16.05)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 6680 rows (total: 136680)
Concatenating 14 chunks...
Finished reading. Total rows: 136680
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2023_all_firms_matching.csv
File size: 17.10 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.05}
Detected delimiter: ',' (score: 16.05)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)

### Making copies of the dataframes
We will make copies of the dataframes to avoid any unwanted modifications to the original dataframes.

In [3]:
# Making copies of the dataframes

# Full financial year, all ja_kodas codes.

FFAJKA2025 = oFFAJKA2025.copy()
FFAJKA2024 = oFFAJKA2024.copy()
FFAJKA2023 = oFFAJKA2023.copy()
FFAJKA2022 = oFFAJKA2022.copy()
FFAJKA2021 = oFFAJKA2021.copy()
FFAJKA2020 = oFFAJKA2020.copy()

# Full financial year, matching ja_kodas codes.

FFAJKM2025 = oFFAJKM2025.copy()
FFAJKM2024 = oFFAJKM2024.copy()
FFAJKM2023 = oFFAJKM2023.copy()
FFAJKM2022 = oFFAJKM2022.copy()
FFAJKM2021 = oFFAJKM2021.copy()
FFAJKM2020 = oFFAJKM2020.copy()

#New firms included, all ja_kodas codes.

NFAJKA2025 = oNFAJKA2025.copy()
NFAJKA2024 = oNFAJKA2024.copy()
NFAJKA2023 = oNFAJKA2023.copy()
NFAJKA2022 = oNFAJKA2022.copy()
NFAJKA2021 = oNFAJKA2021.copy()
NFAJKA2020 = oNFAJKA2020.copy()

#New firms included, matching ja_kodas codes.

NFAJKM2025 = oNFAJKM2025.copy()
NFAJKM2024 = oNFAJKM2024.copy()
NFAJKM2023 = oNFAJKM2023.copy()
NFAJKM2022 = oNFAJKM2022.copy()
NFAJKM2021 = oNFAJKM2021.copy()
NFAJKM2020 = oNFAJKM2020.copy()

# Saving in lists for ease of use.

FFAJKA = [FFAJKA2025, FFAJKA2024, FFAJKA2023, FFAJKA2022, FFAJKA2021, FFAJKA2020]
FFAJKM = [FFAJKM2025, FFAJKM2024, FFAJKM2023, FFAJKM2022, FFAJKM2021, FFAJKM2020]
NFAJKA = [NFAJKA2025, NFAJKA2024, NFAJKA2023, NFAJKA2022, NFAJKA2021, NFAJKA2020]
NFAJKM = [NFAJKM2025, NFAJKM2024, NFAJKM2023, NFAJKM2022, NFAJKM2021, NFAJKM2020]

ALL_DATA = [FFAJKA, FFAJKM, NFAJKA, NFAJKM]

### Creating variables

In [4]:

# TURTAS variable

create_variable_eval(ALL_DATA, 'TURTAS', '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`')

# GRYNOJO PELNO MARZA variable

create_variable_eval(ALL_DATA, 'GRYNOJO PELNO MARŽA (procentais)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100')

# TURTO APYVARTUMAS variable

create_variable_eval(ALL_DATA, 'TURTO APYVARTUMAS (santykis)', '`TURTAS` / `PARDAVIMO PAJAMOS`')

# ROA variable

create_variable_eval(ALL_DATA, 'ROA (procentais)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100')

# VĖLUOJANČIOS ATASKAITOS variable, reg_date of pnl or balance is after 05-30
Y2025 = [FFAJKA2025, FFAJKM2025, NFAJKA2025, NFAJKM2025]
Y2024 = [FFAJKA2024, FFAJKM2024, NFAJKA2024, NFAJKM2024]
Y2023 = [FFAJKA2023, FFAJKM2023, NFAJKA2023, NFAJKM2023]
Y2022 = [FFAJKA2022, FFAJKM2022, NFAJKA2022, NFAJKM2022]
Y2021 = [FFAJKA2021, FFAJKM2021, NFAJKA2021, NFAJKM2021]
Y2020 = [FFAJKA2020, FFAJKM2020, NFAJKA2020, NFAJKM2020]

set_columns_to_datetime(Y2025, ['reg_date_pnl', 'reg_date_balance'], inplace=True)

create_variable_eval(Y2025, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")')
create_variable_eval(Y2024, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")')
create_variable_eval(Y2023, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")')
create_variable_eval(Y2022, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")')
create_variable_eval(Y2021, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")')
create_variable_eval(Y2020, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")')


# SVERTINIS MOKUMO PAKAITALAS variable

create_variable_eval(ALL_DATA, 'SVERTINIS MOKUMO PAKAITALAS (santykis)', '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`')

✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 5]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 5]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 5]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [0, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [0, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [0, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [0, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [0, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [0, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [1, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [1, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [1, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [1, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [1, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [1, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [2, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [2, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [2, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [2, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [2, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [2, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [3, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [3, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [3, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [3, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [3, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (procentais)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 5]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 5]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 5]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [0, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [0, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [0, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [0, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [0, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [0, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [1, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [1, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [1, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [1, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [1, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [1, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [2, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [2, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [2, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [2, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [2, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [2, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [3, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [3, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [3, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [3, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [3, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (procentais)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
⚠️  INPLACE MODE: Modifying original DataFrame(s)

Processing DataFrame 0 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0

Processing DataFrame 1 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0

Processing DataFrame 2 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0

Processing DataFrame 3 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 5]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 5]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 5]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24

{'total_processed': 24,
 'successful': 24,
 'failed': 0,
 'errors': [],
 'formula_used': '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`',
 'inplace': True}

## Merging date columns
My coalescing function cannot take list of list so we insert just lists of dataframes.

In [5]:

# Merging date columns

## New firms included.

# beginning and turning date
coalesce_columns(NFAJKA, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')
coalesce_columns(NFAJKM, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')

coalesce_columns(NFAJKA, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')
coalesce_columns(NFAJKM, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')

# Merging reg_date_balance and reg_date_pnl for simplicity

coalesce_columns(NFAJKA, ['reg_date_balance','reg_date_pnl'], 'reg_date')
coalesce_columns(NFAJKM, ['reg_date_balance','reg_date_pnl'], 'reg_date')

## Full financial year data

# beginning and turning date
coalesce_columns(FFAJKA, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')
coalesce_columns(FFAJKM, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')

coalesce_columns(FFAJKA, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')
coalesce_columns(FFAJKM, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')

# Merging reg_date_balance and reg_date_pnl for simplicity

coalesce_columns(FFAJKA, ['reg_date_balance','reg_date_pnl'], 'reg_date')
coalesce_columns(FFAJKM, ['reg_date_balance','reg_date_pnl'], 'reg_date')

Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5

## Adding address data to variables

In [6]:
# extracting address data

extraction_cols = ['ja_kodas', 'adresas', 'Apskritis']

add_df = extract_columns(Address, extraction_cols)

DataFrame 0: Extracted 3 columns, processed shape: (222198, 7)

### Merging address data to variables on ja_kodas

In [7]:

## New firms included.
NFAJKA_with_address = merge_similar_dfs(NFAJKA, add_df, 'ja_kodas', how='left')
NFAJKM_with_address = merge_similar_dfs(NFAJKM, add_df, 'ja_kodas', how='left')
## Full financial year data
FFAJKA_with_address = merge_similar_dfs(FFAJKA, add_df, 'ja_kodas', how='left')
FFAJKM_with_address = merge_similar_dfs(FFAJKM, add_df, 'ja_kodas', how='left')

##

Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 144336 rows, 144336 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 143520
Merge type: left
Expected result rows: 144336
Actual result rows: 144336
Pair 0: Successfully merged. Shapes: (144336, 20) + (222198, 3) -> (144336, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 138564 rows, 138564 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 136292
Merge type: left
Expected result rows: 138564
Actual result rows: 138564
Pair 1: Successfully merged. Shapes: (138564, 20) + (222198, 3) -> (138564, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 136578 rows, 136578 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 132372
Merge type: left
Expected result rows: 136578
Actual result rows: 136578
Pair 2: Successfully merged. Shapes: (136578, 20) + (222198, 3) -> (136578, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 116768 rows, 116768 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 111618
Merge type: left
Expected result rows: 116768
Actual result rows: 116768
Pair 3: Successfully merged. Shapes: (116768, 20) + (222198, 3) -> (116768, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 103744 rows, 103744 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 95835
Merge type: left
Expected result rows: 103744
Actual result rows: 103744
Pair 4: Successfully merged. Shapes: (103744, 20) + (222198, 3) -> (103744, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 94664 rows, 94664 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 85009
Merge type: left
Expected result rows: 94664
Actual result rows: 94664
Pair 5: Successfully merged. Shapes: (94664, 20) + (222198, 3) -> (94664, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6
Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 142174 rows, 142174 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 141443
Merge type: left
Expected result rows: 142174
Actual result rows: 142174
Pair 0: Successfully merged. Shapes: (142174, 20) + (222198, 3) -> (142174, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 136680 rows, 136680 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 134556
Merge type: left
Expected result rows: 136680
Actual result rows: 136680
Pair 1: Successfully merged. Shapes: (136680, 20) + (222198, 3) -> (136680, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 115651 rows, 115651 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 112071
Merge type: left
Expected result rows: 115651
Actual result rows: 115651
Pair 2: Successfully merged. Shapes: (115651, 20) + (222198, 3) -> (115651, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 105324 rows, 105324 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 100690
Merge type: left
Expected result rows: 105324
Actual result rows: 105324
Pair 3: Successfully merged. Shapes: (105324, 20) + (222198, 3) -> (105324, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 95060 rows, 95060 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 87801
Merge type: left
Expected result rows: 95060
Actual result rows: 95060
Pair 4: Successfully merged. Shapes: (95060, 20) + (222198, 3) -> (95060, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 86838 rows, 86838 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 77868
Merge type: left
Expected result rows: 86838
Actual result rows: 86838
Pair 5: Successfully merged. Shapes: (86838, 20) + (222198, 3) -> (86838, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6
Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 132531 rows, 132531 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 131779
Merge type: left
Expected result rows: 132531
Actual result rows: 132531
Pair 0: Successfully merged. Shapes: (132531, 20) + (222198, 3) -> (132531, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 126352 rows, 126352 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 124265
Merge type: left
Expected result rows: 126352
Actual result rows: 126352
Pair 1: Successfully merged. Shapes: (126352, 20) + (222198, 3) -> (126352, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 125097 rows, 125097 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 121279
Merge type: left
Expected result rows: 125097
Actual result rows: 125097
Pair 2: Successfully merged. Shapes: (125097, 20) + (222198, 3) -> (125097, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 107033 rows, 107033 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 102196
Merge type: left
Expected result rows: 107033
Actual result rows: 107033
Pair 3: Successfully merged. Shapes: (107033, 20) + (222198, 3) -> (107033, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 94514 rows, 94514 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 87504
Merge type: left
Expected result rows: 94514
Actual result rows: 94514
Pair 4: Successfully merged. Shapes: (94514, 20) + (222198, 3) -> (94514, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 86742 rows, 86742 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 78105
Merge type: left
Expected result rows: 86742
Actual result rows: 86742
Pair 5: Successfully merged. Shapes: (86742, 20) + (222198, 3) -> (86742, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6
Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 130384 rows, 130384 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 129715
Merge type: left
Expected result rows: 130384
Actual result rows: 130384
Pair 0: Successfully merged. Shapes: (130384, 20) + (222198, 3) -> (130384, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 124484 rows, 124484 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 122538
Merge type: left
Expected result rows: 124484
Actual result rows: 124484
Pair 1: Successfully merged. Shapes: (124484, 20) + (222198, 3) -> (124484, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 105929 rows, 105929 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 102680
Merge type: left
Expected result rows: 105929
Actual result rows: 105929
Pair 2: Successfully merged. Shapes: (105929, 20) + (222198, 3) -> (105929, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 6911 rows, 6911 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 6416
Merge type: left
Expected result rows: 6911
Actual result rows: 6911
Pair 3: Successfully merged. Shapes: (6911, 20) + (222198, 3) -> (6911, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 86395 rows, 86395 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 79902
Merge type: left
Expected result rows: 86395
Actual result rows: 86395
Pair 4: Successfully merged. Shapes: (86395, 20) + (222198, 3) -> (86395, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 79357 rows, 79357 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 71366
Merge type: left
Expected result rows: 79357
Actual result rows: 79357
Pair 5: Successfully merged. Shapes: (79357, 20) + (222198, 3) -> (79357, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6

### Rearranging columns

In [8]:

# Rearranging columns
# List all columns
FFAJKA_with_address[0].columns

patterns = {
    'identifier': ['ja_kodas', 'ja_pavadinimas','stat_kodas', 'form_kodas'],
    'company_info': ['Apskritis', 'adresas'],
    'dates': ['beginning_date', 'turning_date', 'reg_date', 'VĖLUOJANČIOS ATASKAITOS'],
    'assets': ['ILGALAIKIS TURTAS', 'TRUMPALAIKIS TURTAS', 'TURTAS'],
    'financial_liabilities': ['MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI', 'NUOSAVAS KAPITALAS'],
    'income': ['PARDAVIMO PAJAMOS'],
    'profitability': ['GRYNASIS PELNAS (NUOSTOLIAI)', 'PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ', 'GRYNOJO PELNO MARŽA', 'ROA'],
    'ratios': ['TURTO APYVARTUMAS', 'SVERTINIS MOKUMO PAKAITALAS']
}

order = ['identifier', 'company_info', 'dates', 'assets', 'financial_liabilities', 'income', 'profitability', 'ratios']

NFAJKA_with_address = rearrange_columns_smart(
    NFAJKA_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

NFAJKM_with_address = rearrange_columns_smart(
    NFAJKM_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

FFAJKA_rearranged = rearrange_columns_smart(
    FFAJKA_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

FFAJKM_rearranged = rearrange_columns_smart(
    FFAJKM_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

### Saving dataframes without YoY change to csv files

In [9]:

# Saving dataframes

## FFAJKA

Full_Financial_Year_All_ja_kodas_2025 = FFAJKA_rearranged[0]
Full_Financial_Year_All_ja_kodas_2024 = FFAJKA_rearranged[1]
Full_Financial_Year_All_ja_kodas_2023 = FFAJKA_rearranged[2]
Full_Financial_Year_All_ja_kodas_2022 = FFAJKA_rearranged[3]
Full_Financial_Year_All_ja_kodas_2021 = FFAJKA_rearranged[4]
Full_Financial_Year_All_ja_kodas_2020 = FFAJKA_rearranged[5]

save_df_list_to_csv_auto(FFAJKA_rearranged, '../../data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas')

## FFAJKM

Full_Financial_Year_Matching_ja_kodas_2025 = FFAJKM_rearranged[0]
Full_Financial_Year_Matching_ja_kodas_2024 = FFAJKM_rearranged[1]
Full_Financial_Year_Matching_ja_kodas_2023 = FFAJKM_rearranged[2]
Full_Financial_Year_Matching_ja_kodas_2022 = FFAJKM_rearranged[3]
Full_Financial_Year_Matching_ja_kodas_2021 = FFAJKM_rearranged[4]
Full_Financial_Year_Matching_ja_kodas_2020 = FFAJKM_rearranged[5]

save_df_list_to_csv_auto(FFAJKM_rearranged, '../../data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas')

## NFAJKA

New_Firms_All_ja_kodas_2025 = NFAJKA_with_address[0]
New_Firms_All_ja_kodas_2024 = NFAJKA_with_address[1]
New_Firms_All_ja_kodas_2023 = NFAJKA_with_address[2]
New_Firms_All_ja_kodas_2022 = NFAJKA_with_address[3]
New_Firms_All_ja_kodas_2021 = NFAJKA_with_address[4]
New_Firms_All_ja_kodas_2020 = NFAJKA_with_address[5]

save_df_list_to_csv_auto(NFAJKA_with_address, '../../data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas')

## NFAJKM

New_Firms_Matching_ja_kodas_2025 = NFAJKM_with_address[0]
New_Firms_Matching_ja_kodas_2024 = NFAJKM_with_address[1]
New_Firms_Matching_ja_kodas_2023 = NFAJKM_with_address[2]
New_Firms_Matching_ja_kodas_2022 = NFAJKM_with_address[3]
New_Firms_Matching_ja_kodas_2021 = NFAJKM_with_address[4]
New_Firms_Matching_ja_kodas_2020 = NFAJKM_with_address[5]

save_df_list_to_csv_auto(NFAJKM_with_address, '../../data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas')

['New_Firms_Matching_ja_kodas_2025',
 'New_Firms_Matching_ja_kodas_2024',
 'New_Firms_Matching_ja_kodas_2023',
 'New_Firms_Matching_ja_kodas_2022',
 'New_Firms_Matching_ja_kodas_2021',
 'New_Firms_Matching_ja_kodas_2020']